.itemContainer {
  display: flex;
  padding: 10px;
  margin-top: 50px;
  box-shadow: 0 4px 6px rgb(0,0,0,0.1);
  border-radius: 10px;
}

.imageContainer{
    width:10px ;
    height:10px ;
    border-radius: 10px;
}