.footer{
    padding: 10px;
    position: fixed;
    bottom: 0;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    width: 100%;
    background-color: #f7ca18;

}

.item{
    margin: 50px;
}